/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos globais */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos da navegação */
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    text-decoration: none;
    color: #6b77aa;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  